{% extends "base.html" %}
{% block title %}App Store{% endblock %}
{% block main %}
<main class="home_main">
    <h2 class="home_title">Apps</h2><button onclick="window.open('/appstore/new','_self')" class="new_task">Make An App</button>
    <div class="home_apps" id="apps">
    </div>
</main>
<script>
    var name = {{name|tojson}};
    var apps = {{apps|tojson}};
    var apps_here = document.getElementById("apps")
    var names = Object.keys(apps)
    for (var i=0;i<names.length;i++){
        var a = document.createElement("a")
        var download = document.createElement("a")
        var img = document.createElement("img")
        var tag = document.createElement("span")
        var title = document.createElement("strong")
        download.classList.add("download")
        download.innerHTML = "<ion-icon name='cloud-download-outline'></ion-icon>"
        download.href = "/download/"+apps[names[i]]["title"]
        a.href = "/app/"+apps[names[i]]["title"]
        img.draggable = "false"
        img.src = apps[names[i]]["img"]
        img.id = apps[names[i]]["title"]
        img.addEventListener("error",(e) => {
            document.getElementById(e.target.id).src = "static/app_icons/error.png"
        })
        tag.innerText = apps[names[i]]["tag"]
        title.innerText = apps[names[i]]["title"]
        apps_here.appendChild(a)
        a.appendChild(img)
        a.appendChild(tag)
        a.appendChild(title)
        a.appendChild(download)
        if(apps[names[i]]["featured"] == true){
            console.log("hi")
            var feat = document.createElement("span")
            feat.classList.add("feat")
            feat.innerHTML = "<ion-icon name='star-outline'></ion-icon> Featured"
            a.appendChild(feat)
        }
        if(name == "GoodVessel92551" || name == apps[names[i]]["user"]){
            var remove = document.createElement("a")
            remove.classList.add("download")
            remove.innerHTML = "<ion-icon name='trash-outline'></ion-icon>"
            remove.href = "/remove/"+apps[names[i]]["title"]
            remove.style.right = "45px"
            a.appendChild(remove)
        }
    }
</script>
{% endblock %}