{% extends "base.html" %}
{% block title %}Boost{% endblock %}
{% block main %}
<div class="boostit">
    <h1>Boost</h1>
    <span>Following Me</span>
    <p>Quality Of Life Improvements</p>
    <hr>
    <div class="features">
        <a><ion-icon name="calendar-outline"></ion-icon>More Tasks Storage<span class="boost_about">? kb</span></a>
        <a><ion-icon name="cloud-upload-outline"></ion-icon>More App Uploads<span class="boost_about">4 Apps</span></a>
        <a><ion-icon name="color-palette-outline"></ion-icon>More Customizability</a>
        <a><ion-icon name="chatbox-outline"></ion-icon>On App Feedback Requesting</a>
    </div>
    <button onclick="window.open('https://replit.com/@GoodVessel92551')" class="follow_now"><ion-icon name="rocket-outline"></ion-icon>Follow To Boost</button>
</div>
{% endblock %}