<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="static/main.css" type="text/css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="static/logo.png" type="image/x-icon">
</head>
<body>
    <div class="login_image">
        <div class="login_title">
            <img src="static/logo.png"><h1>Booogle 4</h1>
        </div>
        <strong class="login_made">Made By GoodVessel92551</strong>
    </div>
    <div class="login">
        <h1>Login</h1>
        <p>Login With Replit To Start Using Booogle Today</p>
        <button class="login_button" onclick="LoginWithReplit()"><ion-icon name="lock-open-outline"></ion-icon>Login With Replit</button>
        <a href="https://docs.replit.com/hosting/repl-auth-sidebar" target="_blank">This website uses ReplAuth which allows users to login with Replit. To find out more click here.</a>
    </div>
</body>
</html>