{% extends "base.html" %}
{% block title %}Calculator{% endblock %}
{% block main %}
<div class="calc">
    <a class="screen"><strong class="maths_past" id="past"></strong><strong class="maths_current" id="current"></strong></a>
    <a onclick="calc('7')">7</a>
    <a onclick="calc('8')">8</a>
    <a onclick="calc('9')">9</a>
    <a onclick="calc('+')">+</a>
    <a onclick="calc('4')">4</a>
    <a onclick="calc('5')">5</a>
    <a onclick="calc('6')">6</a>
    <a onclick="calc('/')">/</a>
    <a onclick="calc('1')">1</a>
    <a onclick="calc('2')">2</a>
    <a onclick="calc('3')">3</a>
    <a onclick="calc('-')">-</a>
    <a onclick="calc('ans')">ans</a>
    <a onclick="calc('0')">0</a>
    <a onclick="calc('=')">=</a>
    <a onclick="calc('*')">x</a>
</div>
<script>
    var equation = ""
    var ans = ""
    var past = document.getElementById("past")
    var current = document.getElementById("current")
    function calc(a) {
        if(ans != ""){
            past.textContent = ans
        }
        if(a == "="){
            ans = eval(equation)
            current.textContent = ans
            past.textContent = equation
            console.log(ans)
            equation = ""
        }
        else if(a == "del"){
            equation = equation.slice(0,-1)
            current.textContent = equation
        }
        else if(a == "ans"){
            equation += ans
            current.textContent = equation
        }
        else{
            equation += a
            current.textContent = equation
        }
    }
</script>
{% endblock %}