{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block main %}
<main class="home_main">
    <h2 class="home_title">Review App</h2>
    <button class="new_task" onclick="window.open('/preview/{{name}}')">Preview</button><button style="right:160px" class="new_task" onclick="window.open('/star/{{name}}','_self')">Star</button><button style="right:290px" class="new_task" onclick="window.open('/upload/{{name}}','_self')">Upload</button>
    <p class="new_app_about">HTML</p>
    <pre><code id="code" class="language-html">{{html}}</code></pre>
    <p class="new_app_about">JS</p>
    <pre><code id="code" class="language-js">{{script}}</code></pre>
    <p class="new_app_about">CSS</p>
    <pre><code id="code" class="language-css">{{css}}</code></pre>
    <script src="/static/code_theme/prism.js"></script>
    <script src="/static/code_theme/prism.js"></script>
    <script>theme()</script>
</main>
{% endblock %}